
body {
   max-width: 600px;
    background-color: #A08963;
    margin: auto;

}
div a {
    color: rgb(31, 31, 31);
    display: block;
    width: 50px;
    margin: 0 auto;    
   padding: 16px;
 }
 h1 {
    color: #DBDBDB;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;   
    font-size: 50px;
    text-align: center;
    margin-top: -15px;
 }
 img {
    width: 600px;
    height: auto;
 }
 h4 {
    text-align: center;
    color: #DBDBDB;
    font-size: 30px;
 }
 p, li {
    text-align: justify;
    color: black;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    padding: 8px;
 }